@import 'tailwindcss';
@import '../../../../packages/ui/src/styles/tokens.css';
@import '../../../../packages/ui/src/styles/typography.css';
@import '../../../../packages/ui/src/styles/accessibility.css';
@import '../../../../packages/ui/src/styles/motion.css';

@source '../../../../packages/ui/src';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-50: oklch(0.979 0.021 166.113);
  --color-brand-100: oklch(0.95 0.052 163.051);
  --color-brand-200: oklch(0.905 0.093 164.15);
  --color-brand-300: oklch(0.845 0.143 164.978);
  --color-brand-400: oklch(0.765 0.177 163.223);
  --color-brand-500: oklch(0.696 0.17 162.48);
  --color-brand-600: oklch(0.596 0.145 163.225);
  --color-brand-700: oklch(0.508 0.118 165.612);
  --color-brand-800: oklch(0.432 0.095 166.913);
  --color-brand-900: oklch(0.378 0.077 168.94);
  --color-brand-950: oklch(0.262 0.051 172.552);
}

html,
body {
  height: 100%;
}

body {
  @apply bg-white text-neutral-900 antialiased;
}

.dark body {
  @apply bg-neutral-950 text-neutral-50;
}
